<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>אתר גדעונים</title>
    <link rel="stylesheet" type="text/css" href="static/css_files/main_page_styles.css">
    <link rel="stylesheet" type="text/css" href="static/css_files/universal_styles.css">
    <link rel="icon" type="image/x-icon" href="static/ICT_symbol.png">
</head>
<body>
    <div class="navigation-bar" id="navbar">
        <i style="float: right; height: 5.5vh;"><img style="height: 90%;" src="static/ICT_symbol.png"></i>
        <form action="{{ url_for('main_page', ) }}" method="post">
            <button href="/" style="float: right;">בסיס גדעונים</button>
        </form>
        <form action="{{ url_for('mador_page', ) }}" method="post">
            <input name="mador_name" type="hidden" value="מחשוב">
            <button href="mador" type="submit"> מדור מחשוב</button>
        </form>
        <form action="{{ url_for('madors_page', ) }}" method="post">
            <button href="madors" type="submit">מדורים</button>
        </form>
        <form action="{{ url_for('people_page', ) }}" method="post">
            <button href="people" type="submit">סגל</button>
        </form>
        <form action="{{ url_for('news_page', ) }}" method="post">
        <button href="news" type="submit">חדשות</button>
        </form>
    </div><div style="background-color: transparent; height: 5.5vh;"></div>

    <!--<div w3-include-html="base_page.html"></div>
    <script>
        function addHTML() {
          var el, i, domEl, fileName, xmlHttp;

          el = document.getElementByTagName("*");
          for (i=0; i<el.length; i++) {
            domEl = el[i];
            fileName = domEl.getAttribute("w3-include-html");
            if (fileName) {
              xmlHttp = new XMLHttpRequest();
              xmlHttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                  if (this.status == 200) {
                    domEl.innerHTML = this.responseText;
                  }
                  if (this.status == 400) {
                    domEl.innerHTML = "Page not found";
                  }
                  domEl.removeAttribute("w3-include-html");
                  addHTML();
                }
              }
              xmlHTTP.open("GET", fulename, true);
              xmlHTTP.send();
            }
          }
        }
          w3.includeHTML();
    </script>-->
    <!--<iframe src="static/base_page.html" style="height:5.5vh; width:100vw; border:none; position:fixed;
     z-index:1; display:block; padding: 0px;" title="navigation bar" id="NavigationBar" onclick="navbar_action()"></iframe>-->


    <div class="madors-display-container" id="madors-display-container"
         style="opacity: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 100%; width: 100%;
         background-color: transparent;">
        <script>
            const MadorDisplayCont = document.getElementById("madors-display-container");
            const MadorList = {{mador_list | tojson | safe}};
            for (let i = 0; i < MadorList.length; i++) {
                var y = document.createElement('button');
                y.classList.add('mador_button');
                y["style"] = "background-color: transparent;"

                var z = document.createElement('span');
                let e = document.createElement('img');
                e.src = 'static/' + MadorList[i][1] + '.png';
                e.classList.add('mador_image');
                z.appendChild(e);

                var x = document.createElement('p');
                x.innerHTML = '<p class="mador_text">' + MadorList[i][0] +'</p>';

                y.appendChild(z);
                y.appendChild(x);
                MadorDisplayCont.appendChild(y);
            }
        </script>
    </div>

</body>
</html>