<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>אתר גדעונים</title>
    <link rel="stylesheet" type="text/css" href="static/css_files/main_page_styles.css">
    <link rel="stylesheet" type="text/css" href="static/css_files/universal_styles.css">
    <link rel="icon" type="image/x-icon" href="static/ICT_symbol.png">
</head>
<body>
    <!-- The navigation bar -->
    <div class="navigation-bar" id="navbar">
        <i style="float: right; height: 5.5vh;"><img style="height: 90%;" src="static/ICT_symbol.png"></i>
        <a onclick="location.reload();" style="float: right;">בסיס גדעונים</a>
        <a href="mador"> מדור מחשוב</a>
        <a href="madors" type="submit">מדורים</a>
        <a href="people" type="submit">סגל</a>
        <a href="news" type="submit">חדשות</a>
    </div><div style="background-color: transparent; height: 5.5vh;"></div>
    <!--<iframe src="static/base_page.html" style="height:5.5vh; width:100vw; border:none; position:fixed;
     z-index:50; display:block; padding: 0px;" id="NavigationBar" allowfullscreen></iframe>
    <div style="background-color: black; height: 5.5vh;"></div>
        <script>
        const NavigationBar = document.getElementById("NavigationBar");
        window.focus();
        window.addEventListener("blur", () => {
         setTimeout(() => {
           if(document.activeElement.tagName == "IFRAME") {
            var link = NavigationBar.contentDocument.querySelector(".bar-option");
            alert(link[0]);
           }
         });
        });

    </script>

    <script>
        function navbar_action(){
            alert("hi");
        }
        const NavigationBar = document.getElementById("NavigationBar");
        var links = NavigationBar.contentDocument.querySelectorAll('a').values();
        alert(links[0]);
        links.forEach((a) => {
            alert("hi");
            a.addEventListener('click', navbar_action);
        });
    </script>-->

    <!-- The articles slideshow -->
    <div id="SlideshowContainer" class="slideshow-container">
        <script>
            const SlideshowContainer = document.getElementById("SlideshowContainer");

            for (let i = 1; i < 5; i++) {
                var y = document.createElement('div');
                y.classList.add('image-slides');

                // the option numbers + the main image + the main image filter
                var z = document.createElement('div');
                z.innerHTML = '<div class="numbers-text">' + i + ' / 4</div>';

                var b = document.createElement('div');
                var bStyle = "background: linear-gradient(to bottom, transparent 0%, black 100%), url('static/tester.jpeg'); background-repeat: no-repeat; background-size: 100% 100%; height: 65vh; width: 100%;";
                b.innerHTML = '<div style="' + bStyle + '"></div>';

                var n = document.createElement('div');
                n.innerHTML = '<div class="caption-container"><p id="caption' + i + '"></p></div>';

                y.appendChild(z);
                y.appendChild(b);
                y.appendChild(n);
                SlideshowContainer.appendChild(y);
                }
        </script>

        <a class="prev-button" onclick="plusSlides(-1)">❮</a>
        <a class="next-button" onclick="plusSlides(1)">❯</a>

        <div id="OptionsContainer" class="slideshow-options-container"></div>
        <script>
            const OptionsContainer = document.getElementById("OptionsContainer");

            for (let i = 1; i < 5; i++) {
                var y = document.createElement('div');
                y.classList.add('option-column');

                var z = document.createElement('div');
                z.innerHTML = '<div class="progress-bar-container"><div class="progress-bar" id="progress-bar' + i + '"></div></div>';
                var d = document.createElement('div');
                d.innerHTML = '<div class="option-content" onclick="currentSlide(' + i + ')"><div class="option-caption">hello</div></div>';

                y.appendChild(d);
                d.appendChild(z);
                OptionsContainer.appendChild(y);
                }
        </script>
    </div>

    <!-- The slideshow functionalities -->
    <script>
        let slideIndex = 1;
        showSlides(slideIndex);
        var id; var iz;

        function move(n) {
            var elem = document.getElementById("progress-bar" + n);
            var width = 1;
            id = setInterval(frame, 50);
            function frame() {
              if (width >= 100) {
                clearInterval(id);
              } else {
                width++;
                elem.style.width = width + "%";
              }
            }
        }

        function plusSlides(n) {
        showSlides(slideIndex += n);
        }

        function currentSlide(n) {
        showSlides(slideIndex = n);
        }

        function showSlides(n) {
            clearTimeout(iz);
            let i;
            let slides = document.getElementsByClassName("image-slides");
            let dots = document.getElementsByClassName("option-content");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            let captionText = document.getElementById("caption" + slideIndex);
            for (i = 1; i < 4; i++) {
                var elem = document.getElementById("progress-bar" + i);
                elem.style.width = 1 + "%";
                clearInterval(id);
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active-option", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active-option";
            captionText.innerHTML = dots[slideIndex-1].alt;

            iz = setTimeout(plusSlides, 5000, 1);
            move(slideIndex);
        }
    </script>

    <div style="height: 7vh; background-image: linear-gradient(to bottom, black, #343434);"></div>
    <!-- The madors animation -->
    <div class="mador-cover-image-container">
        <img src='static/pin.png' class="mador-cover-image">
        <div class="mador-cover-image-text-background">על מדורי גדעונים</div>
        <div class="mador-cover-image-text">על מדורי גדעונים</div>
        <div class="madors-display-container" id="madors-display-container">
            <script>
                const MadorDisplayCont = document.getElementById("madors-display-container");
                const MadorList = {{mador_list | tojson | safe}};
                for (let i = 0; i < MadorList.length; i++) {
                    var y = document.createElement('button');
                    y.classList.add('mador_button');

                    var z = document.createElement('span');
                    let e = document.createElement('img');
                    e.src = 'static/' + MadorList[i][1] + '.png';
                    e.classList.add('mador_image');
                    z.appendChild(e);

                    var x = document.createElement('p');
                    x.innerHTML = '<p class="mador_text">' + MadorList[i][0] +'</p>';

                    y.appendChild(z);
                    y.appendChild(x);
                    MadorDisplayCont.appendChild(y);
                }
            </script>
        </div>
    </div><div style="height: 7vh; background-image: linear-gradient(to bottom, #343434,black);"></div>

    <!-- The people's scrollable contact cards -->
    <div id="ScrollContainer" class="contacts-scroll-container">
        <script>
            const ScrollContainer = document.getElementById("ScrollContainer");

            for (let i = 1; i < 20; i++) {
                var ContactContainer = document.createElement('div');
                ContactContainer.classList.add('full-contact-container-settings');

                var ContactColumn = document.createElement('div');
                ContactColumn.classList.add('full-contact-container');

                var front = document.createElement('div');
                front.innerHTML = '<div class="contact-card-cover"><img src="static/placeholder.jpeg"></div>';

                var back = document.createElement('div');
                back.classList.add('contact-card');
                var backContent = document.createElement('div');
                backContent.innerHTML = '<div class="contact-card-info"><p>Jane Doe</p><p style="color: grey;">CEO &amp; Founder</p><p>Some text that describes me lorem ipsum ipsum lorem.</p><p>example@example.com</p><p><button class="contact-card-info-button">Contact</button></p></div>';

                back.appendChild(backContent);
                ContactColumn.appendChild(front);
                ContactColumn.appendChild(back);
                ContactContainer.appendChild(ContactColumn);
                ScrollContainer.appendChild(ContactContainer);
            }
        </script>
    </div><div class="filler"></div>
</body>
</html>