<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>אתר גדעונים</title>
    <link rel="stylesheet" type="text/css" href="static/css_files/universal_styles.css">
    <link rel="icon" type="image/x-icon" href="static/ICT_symbol.png">
</head>
<body>
    <div class="navigation-bar" id="navbar">
        <i style="float: right; height: 5.5vh;"><img style="height: 90%;" src="static/ICT_symbol.png"></i>
        <a href="/" style="float: right;">בסיס גדעונים</a>
        <a href="mador"> מדור מחשוב</a>
        <a href="madors" type="submit">מדורים</a>
        <a href="people" type="submit">סגל</a>
        <a onclick="location.reload()" type="submit">חדשות</a>
    </div><div style="background-color: transparent; height: 5.5vh;"></div>

</body>
</html>