<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>אתר גדעונים</title>
    <link rel="stylesheet" type="text/css" href="static/css_files/universal_styles.css">
    <link rel="icon" type="image/x-icon" href="static/ICT_symbol.png">
</head>
<body>
    <div class="navigation-bar" id="navbar">
        <i style="float: right; height: 5.5vh;"><img style="height: 90%;" src="static/ICT_symbol.png"></i>
        <form action="{{ url_for('main_page', ) }}" method="post">
            <button href="/" style="float: right;">בסיס גדעונים</button>
        </form>
        <form action="{{ url_for('mador_page', ) }}" method="post">
            <input name="mador_name" type="hidden" value="מחשוב">
            <button href="mador" type="submit"> מדור מחשוב</button>
        </form>
        <form action="{{ url_for('madors_page', ) }}" method="post">
            <button href="madors" type="submit">מדורים</button>
        </form>
        <form action="{{ url_for('people_page', ) }}" method="post">
            <button href="people" type="submit">סגל</button>
        </form>
        <form action="{{ url_for('news_page', ) }}" method="post">
        <button href="news" type="submit">חדשות</button>
        </form>
    </div><div style="background-color: transparent; height: 5.5vh;"></div>

</body>
</html>